
@media (min-width: 640px) and (max-width: 917px){

    header{
        padding-left: 0;
        padding-right: 0;
    
    }


    #titre_principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    #logo{
        width: 50%;
        margin-left: 3%;
        height: 100%;
    }

    #logo img{
        height: 45.02px;
        width: 93.77px;
        padding-top: 13px;
    }
            
    .element{
        width: 15%;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
    .is-active{
        border-top: 4px solid #0065FC;
        padding-top: 25px;
        margin-bottom: 2%;
    }
    
    .no_active{
        margin-top: 29px;
        margin-left: 25%;
    }
    
    .no_active1{
        margin-top: 29px;
    }

/* Slogan */

    .slogan{
        width: 90%;
        font-size: 1.40rem;
        font-weight: bold;
        margin-left: 3%;
        margin-bottom: 1%;
    }
    
    .sous_slogan{
        font-size: 1rem;
        margin-left: 3%;
        margin-bottom: 4%;
    }

    /* rechercher */

    #rechercher{
        width: 330px;
        height: 52px;
        margin-left: 5%;
        margin-bottom: 3%;
        background-color: white;
    }

    #map_maket_alt {
        font-size: 1.1rem;
        height: 19px;
        width: 4%;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 5%;
        padding-top: 5%;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        background: #F2F2F2;
    }

    input{
        width: 220px;
        height: 52px;
        font-size: 1.15rem;
        font-weight: bold;
        padding-left: 6%;
        border: 2px solid #F2F2F2;
    }

   #search{
        font-size: 1rem;
        width: 4%;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 5%;
        padding-top: 5%;
        border-radius: 30%;
        background: #0065FC;
   }

    .fas.fa-search{
        color: #DEEBFF;
        align-items: center;
    }

    .bouton_bleu {
        font-size: 0rem;
        Color: white;
        padding-right: 0%;
    }


    /* filtre */

    #filtre h2{
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 0%;
        margin-right: 80%;
        margin-bottom: 0%;
    }

    #filtre{
        display: flex;
        flex-wrap: wrap;
        width: 93%;
        margin-left: 3%;
        margin-bottom: 2%;
        justify-content: space-between;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .fas.fa-money-bill-wave{
        display: flex;
        width: 50px;
        height: 100%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    .fas.fa-child{
        display: flex;
        width: 50px;
        height: 100%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    .fas.fa-heart{
        display: flex;
        width: 50px;
        height: 100%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    .fas.fa-dog{
        display: flex;
        width: 50px;
        height: 100%;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    #filtre a{
       Color: black;
    }

    #filtre a:hover{
        color:#0065FC;
    }

    #economique{
        display: flex;
        width: 170px;
        height: 47px;
        padding-right: 20px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    #familial{
        display: flex;
        width: 130px;
        height: 47px;
        padding-right: 20px;
        margin-right: 0%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    #romantique{
        display: flex;
        width: 170px;
        height: 47px;
        padding-right: 20px;
        margin-right: 0%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    #animaux_autorises{
        display: flex;
        width: 220px;
        height: 47px;
        padding-right: 25px;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    /* Section */

    .fas.fa-info{
        font-size: .8rem;
        display: flex;
        width: 25px;
        height: 20px;
        margin-left: 3%;
        border-radius: 60px;
        border: rgb(223, 221, 221) solid 1px;
        justify-content: center;
        align-items: center;
        color:#0065FC;
    }
    
    #plus_de_logements{
        display: flex;
        font-size: .65rem;
        color: #303030;
        width: 50%;
        margin-bottom: 2.5%;
    }
    
    #plus_de_logements h1{
        margin-left: 1%;
        padding-top: 0.8%;
        padding-bottom: 0%;
    }
    
    #plus_de_logements{
        width: 100%;
    }

    /* Article */
    #article{
        display: flex;
    }

    /* Les hébergements à Marseille */

    #hebergements_a_marseille{
        width: 97%;
        min-width: 375px;
        height: 650px;
        margin-left: 0%;
        margin-bottom: 2%;
        border-radius: 3%;
        background-color:white;
    }

    #hebergements_a_marseille h2{
        font-size: 1.31rem;
        font-weight: bold;
        margin-left: 4%;
        margin-top: 1%;
        margin-bottom: 3%;
       }

    #hebergement{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left:0%;
        padding-left: 0%;
        justify-content: space-between;
    }

    .hotel{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 240px;
        border-radius: 26px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 3%;
        margin-bottom: 3%;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }         

    .image_1{
        width: 310px;
        height: 141px;
        border-top-left-radius: 22px;
        border-top-right-radius: 19px;
        margin: 2%;
        overflow: hidden;
    }

    .image_1 img{
        width: 330px;
        height: 196px;
        margin: -20px 0 0 -40px;
    }

    .image_2{
        width: 310px;
        height: 141px;
        border-top-left-radius: 22px;
        border-top-right-radius: 19px;
        margin: 2%;
        overflow: hidden;
    }

    .image_2 img{
        width: 330px;
        height: 308.22px;
        margin: -90px 0 0 -44px;
    }

    .image_3{
        width: 310px;
        height: 141px;
        border-top-left-radius: 22px;
        border-top-right-radius: 19px;
        margin: 2%;
        overflow: hidden;
    }

    .image_3 img{
        width: 320px;
        height: 493.38px;
        margin: -210px 0 0 -30px;
    }
    .nom_hotel span{
        font-size: 1.05rem;
        font-weight: bold;
    }

    .nom_hotel{
        font-size: 0.9rem;
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 5%;
        line-height: 1.5;
    }

    .nom_hotel .fas.fa-star{
        color: #0065FC;
        font-size: 0.9rem;
        line-height: 1;
    }

    .hotel .fas.fa-star{
        font-size: 0.8rem;
    }

    .afficher_plus{
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 5%;
    }

    /* Les plus populaires */


    #les_plus_populaires{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 10%;
        border-radius: 0%;
        margin-right: 0%;
        padding-top: 1%;
        background-color: #F2F2F2;
    }
    
    #les_plus_populaires h2{
        display: flex;
        width: 100%;
        font-size: 1.31rem;
        font-weight: bold;
        margin-top: 2%;
        margin-left: 4%;
    }
    
    .fas.fa-chart-line{
        margin-left: 73%;
        margin-bottom: 0%;
    }
    
    #les_hebergements_les_plus_populaires{
        display: flex;
        flex-wrap: wrap;
        height: 240px;
    }
    
    .hotel_populaire{
        display: flex;
        flex-wrap: wrap;
        width: 29.5%;
        height: 178px;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 2.5%;
        margin-bottom: 2%;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }         

    .etoile_hotel_populaire{
        margin-top: 40%;
        margin-bottom: 3%;
    }

    .image_populaire1{
        display: flex;
        width: 130px;
        height: 168px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        margin: 1.5%;
        overflow: hidden;
    }
    
    .image_populaire1 img{
        width: 264px; 
        height: 176px;
        margin: -15px 0 0 -25px;
    }
    
    .image_populaire2{
        display: flex;
        width: 130px;
        height: 168px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        margin: 1.5%;
        overflow: hidden;
    }
    
    .image_populaire2 img{
        width: 253px;
        height: 189px;
        margin: -20px 0 0 -65PX;
    }
    
    .image_populaire3{
        display: flex;
        width: 130px;
        height: 168px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        margin: 1.5%;
        overflow: hidden;
    }
    
    .image_populaire3 img{
        width: 158px;
        height: 315;
        margin: -50px 0 0 -10px;
    }
    
    .info_hotel_populaire{
        width: 47%;
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 3%;
        margin-bottom: 5%;
    }
    
    .info_hotel_populaire{
        font-size: 0.85rem;
    }

    .info_hotel_populaire span{
        font-size: 1rem;
        font-weight: bold;
    }
    
    .info_hotel_populaire .fas.fa-star{
        color: #0065FC;
        font-size: 0.75rem;
        line-height: 1;
    }

    /* Activités */

    #activites_a_marseille{
        padding:0%;
        height: 500px;
    }

    #activites_a_marseille h2{
        font-size: 1.31rem;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 4%;
        margin-bottom: 4%;
    }
    
    #les_activites{
        display: flex;
        flex-wrap: wrap;
        justify-content: ;
    }
    
    .activites1{
        display: flex;
        flex-wrap: wrap;
        width: 28%;
        height: 176px;
        border-radius: 26px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 4%;
        margin-bottom: 3%;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }         
    
    .image_activites1{
        width: 310px;
        height: 126px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites1 img{
        width: 327px;
        height: 218px;
        margin-bottom: 5%;
        margin: -16px 0 0 0;
    }
    
    .info_activite{
        font-size: 1rem;
        font-weight: bold;
        margin-top: 0%;
        margin-left: 5%;
    }
    
    .block_activites{
        display: flex;
        flex-wrap: wrap;
        width: 64%;
        height: 200px;
        border-radius: 26px;
        margin-left: 0%;
        margin-bottom: 0%;
    }
    
    .activites2{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 177px;
        border-radius: 26px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 0%;
        margin-bottom: 0%;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }          
    
    .image_activites2{
        width: 310px;
        height: 126px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites2 img{
        width: 310px;
        height: 541.72px;
        margin-bottom: 5%;
        margin: -200px 0 0 0;
    }
    
    .activites3{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 177px;
        border-radius: 26px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 3%;
        margin-bottom: %;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }         
       
    .image_activites3{
        width: 310px;
        height: 126px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites3 img{
        width: 310px;
        height: 206.6px;
        margin-bottom: 5%;
        margin: -10px 0 0 0;
    }
    
    .activites4{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 177px;
        border-radius: 26px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 0%;
        margin-bottom: 0%;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }

    .image_activites4{
        width: 310px;
        height: 126px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }

    .image_activites4 img{
        width: 310.8px;
        height: 202.65px;
        margin-bottom: 5%;
        margin: -10px 0 -10px 0;
    }
    
    .activites5{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 177px;
        border-radius: 26px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 0%;
        margin-bottom: 0%;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
    }         

    .image_activites5{
        width: 310px;
        height: 126px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
        
    .image_activites5 img{
        width: 310px;
        height: 216px;
        margin-bottom: 5%;
        margin: -12px 0 0 0;
    }

    /* Pied de page */

    #pied_de_page{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 150px;
        padding-top: 4%;
        padding-left: 0%;
    }

    .menu_pied_de_page{
        width: 30%;
        font-size: 0.9rem;
        line-height: 1.9;
        padding-left: 3%;
    }

    .sous_menu_pied_de_page{
        width: 100%;
        font-size: 1rem;
    }

}

