@media (min-width: 320px) and (max-width: 380px){

    *{
        padding: 0;
        margin: 0;
        block-size: border-box;
    }

    Header{
        padding-left: 0px;
        padding-right: 0px;
    }

    #titre_principal{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8%;
    }

    #logo{
        width: 45%;
        margin-left: 5%;
        height: 100%;
    }

    #logo img{
        height: 40.518px;
        width: 84.393px;
        padding-top: 13px;
    }

    .element{
        width: 50%;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
    }
    
    .element:nth-child(1){
        order: 2;
    }

    .element:nth-child(2){
        order: 1;
    }

    .element:nth-child(3){
        order: 2;
    }

    .is-active{
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
        margin-bottom: 2%;
        padding-top: 15px;
        text-align: center;
    }
    
    .no_active{
        margin-top: 13px;
        margin-left: 40px;
    }
    
    .no_active1{
        margin-top: 40px;
        margin-left: 70px;
    }

    .slogan{
        width: 90%;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 5%;
        margin-bottom: 4%;
    }
    
    .sous_slogan{
        font-size: 0.85rem;
        margin-left: 5%;
        margin-bottom: 11%;
    }

    /* rechercher */

    #rechercher{        
        display: flex;
        min-width: 100px;
        max-width: 280px;
        height: 45px;
        border-radius: 15px;
        margin-left: 5%;
        margin-bottom: 7%;
        background-color: #F2F2F2;
        align-items: center;
    }

    #map_maket_alt {
        font-size: 0.95rem;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
        padding-top: 4%;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        background: #F2F2F2;
    }

    input{
        width: 100%;
        height: 43px;
        font-size: 0.95rem;
        font-weight: bold;
        padding-left: 6%;
        border: 2px solid #F2F2F2;
    }

   #search1{
        font-size: 0.9rem;
        height: 30px;
        padding-left: 6%;
        padding-right: 6%;
        border-radius: 29%;
        padding-top: 15px;
        background: #0065FC;
   }

   #search2{
       display: none;
   }

    .fas.fa-search{
        visibility: visible;
        color: #DEEBFF;
        align-items: center;
    }

    .bouton_bleu {
        display: none;
    }

    /* filtre */

    #filtre h2{
        font-size: 0.9rem;
        font-weight: bold;
        margin-left: 0%;
        margin-right: 50%;
        margin-bottom: 2%;
    }

    #filtre{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
        justify-content: space-between;
        font-size: .9rem;
        font-weight: bold;
    }

    .fas.fa-money-bill-wave{
        display: flex;
        width: 40px;
        height: 100%;
        border-radius: %;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    .fas.fa-child{
        display: flex;
        width: 40px;
        height: 100%;
        border-radius: %;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    .fas.fa-heart{
        display: flex;
        width: 40px;
        height: 100%;
        border-radius: %;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    .fas.fa-dog{
        display: flex;
        width: 40px;
        height: 100%;
        border-radius: %;
        justify-content: center;
        align-items: center;
        background: #DEEBFF;
        color:#0065FC;
    }

    #filtre a{
       Color: black;
    }

    #filtre a:hover{
        color:#0065FC;
    }

    #economique{
        display: flex;
        width: 135px;
        height: 40px;
        padding-right: 15px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    #familial{
        display: flex;
        width: 100px;
        height: 40px;
        padding-right: 15px;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    #romantique{
        display: flex;
        width: 130px;
        height: 40px;
        padding-right: 15px;
        margin-right: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    #animaux_autorises{
        display: flex;
        width: 175px;
        height: 40px;
        padding-right: 15px;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 30px;
        border: rgb(223, 221, 221) solid 1px;
        align-items: center;
        justify-content: space-between;
    }

    /* Section */

    .fas.fa-info{
        font-size: .8rem;
        display: flex;
        width: 25px;
        height: 20px;
        margin-left: 5%;
        border-radius: 60px;
        border: rgb(223, 221, 221) solid 1px;
        justify-content: center;
        align-items: center;
        color:#0065FC;
    }
    
    #plus_de_logements{
        display: flex;
        font-size: .55rem;
        color: #303030;
        width: 50%;
        margin-bottom: 2.5%;
    }
    
    #plus_de_logements h1{
        margin-left: 3%;
        padding-top: 1%;
        padding-bottom: 10%;
    }
    
    #plus_de_logements{
        width: 100%;
    }

    /* Article */

    #article{
        display: flex;
        flex-direction: column-reverse;
    }

    /* Les hébergements à Marseille */

    #hebergements_a_marseille{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 5%;
        border-radius: 3%;
        background-color:white;
    }

    #hebergements_a_marseille h2{
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 5%;
        margin-top: 8%;
        margin-bottom: 3.5%;
       }

    #hebergement{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin-left: 5%;
        justify-content: space-between;
    }

    .hotel{
        width: 275px;
        height: 165px;
        border-radius: 26px;
        border: white solid 1px;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        margin-bottom: 3%;
    }           

    .image_1{
        width: 269px;
        height: 95px;
        border-top-left-radius: 22px;
        border-top-right-radius: 19px;
        margin: 2%;
        overflow: hidden;
    }

    .image_1 img{
        width: 280.5px;
        height: 178.5px;
        margin:-43px 0 0 -10px;
    }

    .image_2{
        width: 269px;
        height: 95px;
        border-top-left-radius: 22px;
        border-top-right-radius: 19px;
        margin: 2%;
        margin-bottom: 2%;
        overflow: hidden;
    }

    .image_2 img{
        width: 280.5px;
        height: 261.987px;
        margin: -80px 0 0 -10px;
    }

    .image_3{
        width: 269px;
        height: 95px;
        border-top-left-radius: 22px;
        border-top-right-radius: 19px;
        margin: 2%;
        margin-bottom: 2%;
        overflow: hidden;
    }

    .image_3 img{
        width: 272px;
        height: 400px;
        margin: -151px 0 0 0;
    }
    .nom_hotel span{
        font-size: 0.85rem;
        font-weight: bold;
    }

    .nom_hotel{
        font-size: 0.6rem;
        margin-top: 2%;
        margin-left: 5%;
        line-height: 1.5;
    }

    .nom_hotel .fas.fa-star{
        color: #0065FC;
        font-size: 0.6rem;
        line-height: 1;
    }

    .hotel .fas.fa-star{
        font-size: 0.6rem;
    }

    .afficher_plus{
        font-size: 0.9rem;
        font-weight: bold;
        margin-left: 7%;
    }

    /* Les plus populaires */

    #les_plus_populaires{
        display: block;
        flex-wrap: wrap;
        width: 100%;
        height: 485px;
        border-radius: 0%;
        margin-right: 0%;
        padding-top: 1%;
        background-color: #F2F2F2;
    }
    
    #les_plus_populaires h2{
        display: flex;
        width: 90%;
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 5%;
        margin-top: 8%;
    }
    
    .fas.fa-chart-line{
        margin-left: 30%;
    }
    
    #les_hebergements_les_plus_populaires{
        display: flex;
        flex-wrap: wrap;
        height: 405px;
    }
    
    .hotel_populaire{
        display: flex;
        width: 275px;
        height: 127px;
        border-radius: 20px;
        border: rgb(223, 221, 221) solid 1px;
        margin-left: 5%;
        margin-bottom: 10px;
        background: white;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        margin-bottom: 1%;
    }
    
    .image_populaire1{
        width: 175px;
        height: 119px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin: 1.5%;
        overflow: hidden;
    }
    
    .image_populaire1 img{
        width: 187px;
        height: 125.145px;
        margin: -5px 0 0 -45px;
    }
    
    .image_populaire2{
        width: 175px;
        height: 119px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        margin: 1.5%;
        overflow: hidden;
    }
    
    .image_populaire2 img{
        width: 161.28px;
        height: 120.656px;
        margin: -6px 0 0 -28px;
    }
    
    .image_populaire3{
        width: 175px;
        height: 119px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        margin: 1.5%;
        overflow: hidden;
    }
    
    .image_populaire3 img{
        width: 112px;
        height: 168px;
        margin: -20px 0 0 -6px;
    }
    
    .info_hotel_populaire{
        width: 90%;
        font-size: 0.7rem;
        line-height: 1.5;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .info_hotel_populaire span{
        font-size: 0.85rem;
        font-weight: bold;
    }
    
    .info_hotel_populaire .fas.fa-star{
        color: #0065FC;
        font-size: 0.6rem;
        line-height: 5;
    }

    /* Activités */

    #activites_a_marseille{
        padding: 0%;
        height: 1150px;
    }

    #activites_a_marseille h2{
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    
    #les_activites{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .activites1{
        width: 275px;
        height: 160px;
        margin-left: 6%;
        margin-bottom: 5%;
        border-radius: 10%;
        border: rgb(223, 221, 221) solid 1px;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        background: white;
    }
    
    .image_activites1{
        width: 275px;
        height: 110px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites1 img{
        width: 277.95px;
        height: 185.3px;
        margin-bottom: 5%;
        margin: -15px 0 0 0;
    }
    
    .info_activite{
        font-size: 0.85rem;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 5%;
    }
    
    .block_activites{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        margin-bottom: 5%;;
        justify-content: space-between;
    }
    
    .activites2{
        width: 275px;
        height: 160px;
        margin-left: 5%;
        margin-bottom: 5%;
        border-radius: 10%;
        border: rgb(223, 221, 221) solid 1px;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        background: white;
        }
    
    .image_activites2{
        width: 275px;
        height: 110px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites2 img{
        width: 279px;
        height: 487.548px;
        margin-bottom: 5%;
        margin: -165px 0 0 0;
    }
    
    .activites3{
        width: 275px;
        height: 165px;
        margin-left: 6%;
        border-radius: 10%;
        border: rgb(223, 221, 221) solid 1px;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        background: white;
        }
       
    .image_activites3{
        width: 275px;
        height: 115px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites3 img{
        width: 279px;
        height: 206.6px;
        margin-bottom: 5%;
        margin: -10px 0 0 0;
    }
    
    .activites4{
        width: 275px;
        height: 165px;
        margin-left: 6%;
        margin-bottom: 5%;
        border-radius: 10%;
        border: rgb(223, 221, 221) solid 1px;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        background: white;
        }
    
    .image_activites4{
        width: 275px;
        height: 115px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
    }
    
    .image_activites4 img{
        width: 279.72px;
        height: 182.385px;
        margin-bottom: 5%;
        margin: -10px 0 -10px 0;
    }
    
    .activites5{
        width: 275px;
        height: 165px;
        margin-left: 5%;
        margin-bottom: 5%;
        border-radius: 10%;
        border: rgb(223, 221, 221) solid 1px;
        box-shadow: 5px 5px 5px rgb(223, 221, 221);
        background: white;
        }

    .image_activites5{
        width: 275px;
        height: 115px;
        padding-bottom: 1%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        overflow: hidden;
        }
        
    .image_activites5 img{
        width: 279px;
        height: 194.4px;
        margin-bottom: 5%;
        margin: -12px 0 0 -5px;
    }

    /* Pied de page */

    #pied_de_page{
        width: 95%;
        height: 400px;
        padding-top: 10%;
        padding-left: 5%;
    }

    .menu_pied_de_page{
        font-size: 0.9rem;
        line-height: 1.9;
    }

    .sous_menu_pied_de_page{
        width: 100%;
        font-size: 1rem;
    }

}