*
{
    margin: 0;
    padding: 0;
}
/* Elements principaux de la page */

/* 
@font-face
{
    font-family: 'Raleway';
    src: url('polices/raleway-regular.eot');
    src: url('polices/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('polices/raleway-regular.woff') format('woff'),
         url('polices/raleway-regular.ttf') format('truetype'),
         url('polices/raleway-regular.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
} */

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

header
{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%
}

#titre_principal
{
    display: flex;
    justify-content: space-between;
}

#logo img
{
    height: 55px;
    width: 115px;
    margin-bottom: 5%;
}

.slogan
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1%;
}

.sous_slogan
{
    font-size: 1.3rem;
    margin-bottom: 5%;
}

/* Navigation */

#Menu
{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    font-weight: bold;
    list-style-type: none;
}

#titre_principal nav li
{
    display: flex;
    justify-content: auto;
    margin-left: 50px;
    margin-right: 50PX;
}

section
{
    margin-left: 3%;
    margin-right: 3%;
}

/* rechercher */

#rechercher
{
    display: flex;
    height: 60px;
    width: 520px;
    border-radius: 20px;
    margin-bottom: 3%;
    background-color: #0065FC;
    justify-content: space-between;
    align-items: center;
}

#map_maket_alt
{
    font-size: 1.4rem;
    width: 8%;
    padding-left: 5%;
    padding-right: 3.3%;
    padding-bottom: 3.8%;
    padding-top: 3.5%;
    border-top-left-radius: 30%;
    border-bottom-left-radius:30%;
    background: #F2F2F2;
}

.bouton_bleu
{
    font-size: 1.2rem;
    font-weight: bold;
    Color: white;
    padding-right: 5%;
    padding-left: 3%;

}

/* filtre */

#filtre
{
    display: flex;
    width: 70%;
    margin-bottom: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: bold;
}

#filtre h1
{
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1%;
}

.fas.fa-money-bill-wave
{
    display: flex;
    width: 25%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    color:#0065FC;
}

.fas.fa-child
{
    display: flex;
    width: 33%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    color:#0065FC;
}

.fas.fa-heart
{
    display: flex;
    width: 25%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    color:#0065FC;
}

.fas.fa-dog
{
    display: flex;
    width: 19%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    color:#0065FC;
}

#filtre a:hover
{
     color:#0065FC;
}

#economique
{
    display: flex;
    width: 205px;
    height: 50px;
    padding-right: 30px;
    border-radius: 30px;
    border: rgb(223, 221, 221) solid 1px;
    align-items: center;
    justify-content: space-between;
}

#familial
{
    display: flex;
    width: 160px;
    height: 50px;
    padding-right: 30px;
    border-radius: 30px;
    border: rgb(223, 221, 221) solid 1px;
    align-items: center;
    justify-content: space-between;
}

#romantique
{
    display: flex;
    width: 210px;
    height: 50px;
    padding-right: 30px;
    border-radius: 30px;
    border: rgb(223, 221, 221) solid 1px;
    align-items: center;
    justify-content: space-between;
}

#animaux_autorises
{
    display: flex;
    width: 280px;
    height: 50px;
    padding-right: 30px;
    border-radius: 30px;
    border: rgb(223, 221, 221) solid 1px;
    align-items: center;
    justify-content: space-between;
}

/* Section */

#plus_de_logements
{
    display: flex;
    font-size: 0.85rem;
    width: 33%;
    margin-bottom: 2.5%;
    justify-content: space-between;
}

.fas.fa-info
{
    font-size: 1rem;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: rgb(223, 221, 221) solid 1px;
    justify-content: center;
    align-items: center;
    color:#0065FC;
}

#plus_de_logements h1
{
    padding-top: 1%;
}

/* Article */

#article
{
    display: flex;
    justify-content: space-between;
}

/* Les hébergements à Marseille */

#hebergements_a_marseille
{
    width: 65%;
    height: 750px;
    border-radius: 3%;
    background-color: #F2F2F2;
}

#hebergements_a_marseille h1
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2.8%;
    margin-bottom: 3%;
}

#hebergement
{
    display: flex;
    flex-wrap: wrap;
}

#hotel img
{
    width: 97%;
    height: 55%;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
    margin: 1.5%;
    display: block;
}
 
figcaption
{
    font-size: 1.1rem;
    margin-top: 3%;
    margin-left: 5%;
    line-height: 1.5;
}

figcaption span
{
    font-weight: bold;
}

.fas.fa-star
{
    color: #0065FC;
    line-height: 1.5;
}

#hotel
{
    width: 27%;
    min-width: 200px;
    height: 230px;
    border-radius: 9%;
    border: rgb(223, 221, 221) solid 1px;
    margin-left: 4.5%;
    margin-bottom: 4%;
    background: white;
}

.afficher_plus
{
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 5%;
}

/* Les plus populaires */

#les_plus_populaires h1
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2.8%;
    margin-bottom: 3%;
}

#les_hebergements_les_plus_populaires
{
    display: flex;
    flex-wrap: wrap;
}

#les_plus_populaires
{
    width: 31%;
    min-width: 400px;
    height: 729px;
    border-radius: 5%;
    padding-left: 0.6%;
    padding-top: 1%;
    background-color: #F2F2F2
}

.fas.fa-chart-line
{
    margin-left: 28%;
    margin-bottom: 4%;
}

#hotel_populaire
{
    display: flex;
    width: 80%;
    height: 160px;
    border-radius: 30px;
    border: rgb(223, 221, 221) solid 1px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: white;
}

#hotel_populaire img
{
    width: 35%;
    height: 93%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 0%;
}

#hotel_populaire1
{
    display: flex;
    width: 80%;
    height: 160px;
    border-radius: 30px;
    border: rgb(223, 221, 221) solid 1px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: white;
}

#hotel_populaire1 img
{
    width: 900px;
    height: 93%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 0%;
}

#info_hotel_populaire
{
    width: 220%;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 19%;
}

#info_hotel_populaire span
{
    font-weight: bold;
}

/* Activités */

#activites_a_marseille h1
{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2.8%;
    margin-bottom: 2%;
}

/* Les activités */

#activites_a_marseille figcaption
{
    font-size: 1.rem;
    font-weight: bold;
    margin-left: 6%;
}

#les_activites
{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

#activites1 img
{
    width: 100%;
    height: 90%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: block;
}

#activites2 img
{
    width: 100%;
    height:  70%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    Display: block;
}

#activites1
{
    width: 20%;
    height: 90%;
    padding-bottom: 1%;
    border-radius: 8%;
    border: rgb(223, 221, 221) solid 1px;
    box-shadow: 5px 5px 5px rgb(223, 221, 221);
    background: white;
}

#block_activites
{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 94%;
    justify-content: space-between;
}

#activites2
{
    width:100%;
    height: 44%;
    padding-bottom: 1%;
    border-radius: 8%;
    border: rgb(223, 221, 221) solid 1px;
    box-shadow: 5px 5px 5px rgb(223, 221, 221);
    background: white;
}

#activites_a_marseille
{
    width: 100%;
    min-width: 350px;
    height: 600px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Pied de page */

#pied_de_page
{
    display: flex;
    font-size: 1.3rem;
    width: 100%;
    height: 6%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 10%;
    background-color: #F2F2F2
}

#menu_pied_de_page
{
    width:  600px;
    list-style-type: none;
}

#menu_pied_de_page li
{
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
